body {
    color: $px-body;
    line-height: $px-line-height;
    font-size: $px-font-size;
    font-weight: 300;
    &.theme-light {
        background: $px-white;
        color: $px-body-light;
        font-weight: 400;
    }
}

img {
    max-width: 100%;
}

* {
    outline: none !important;
}

a {
    color: $px-theme;
    @include px-hover {
        color: darken($px-theme, 8%);
        text-decoration: none;
    }
}
